/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */

@font-face {
    font-family: 'AguDisplay';
    src: url('src/fonts/AguDisplay-Regular-VariableFont_MORF.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'Nutino Italic';
  src: url('./fonts/Nunito-Italic-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Nutino';
  src: url('./fonts/Nunito-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'RubikVinyl';
  src: url('./fonts/RubikVinyl-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root {
  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */
  --bg-color: #f3f4f6;
  --text-700: #374151;
  --text-400: #94a3b8;
  --text-100: #f3f4f6;
  --text-300: #cbd5e1;
  --white: #fff;
  --primary-700: #4338ca;
  --primary-600: #4f46e5;
  --primary-100: #e0e7ff;
  --rose-500: #f43f5e;
  --btn-primary : #27bca9;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
}

.rubik-vinyl-regular {
  font-family: "Rubik Vinyl", serif;
  font-weight: 400;
  font-style: normal;
}

.agu-display-text {
  font-family: "Agu Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "MORF" 0;
}

.nunito-font {
  font-family: "Nunito", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

body {
  background-color: var(--bg-color);
  font-family: "Nutino", serif;
  /* font-family: "Agu Display", serif; */
  width: 100vw;
  min-height: 100vh;
}

input {
  display: block;
  outline: none;
  border: none;
}

input, input::placeholder {
  font-family: "Nutino", serif;
}

button {
  font-family: "Nutino", serif;
  outline: none;
  border: none;
  cursor: pointer;
}
p {
  text-align: left;
}

h1 {
  margin-bottom: 1.5rem;
  color: var(--text-700);
}

h2 {
  margin-bottom: 1.5rem;
  font-family: "RubikVinyl", serif;
  color: var(--text-700);
}

input[type="checkbox"] {
  transform: scale(1.5);
}

button {
  border: none;
  outline: none;
  cursor: pointer;
  background: none;
}

select {
  padding: 0.5rem 1rem;
  outline: none;
  border: 1px solid var(--text-400);
  border-radius: 0.75rem;
  font-weight: 700;
  color: var(--text-700);
}

.text-field {
  width: 100%;
  padding: 1rem;
  border-radius: 0.5rem;
  color: var(--text-700);
  font-size: 1rem;
}
.btn {
  border-radius: 0.5rem;
  padding: 1rem 1rem;
}

.btn--primary {
  background-color: var(--btn-primary);
  color: white;
  font-size: 1rem;
}
